<template name="cities">
  <div class="cityTable">
      {{#each citySet}}
        <!-- <td class="cityRow"> -->
          {{> city}}
        <!-- </td> -->
      {{/each}}
        </div>
</template>

<template name="city">
  <div class="container border sticky-top shadow p-3 mb-5 bg-body rounded" style="background-color: white; padding: 10px 0px; margin-bottom: 10px;">
    <div class="row row-gx-0 row-cols-auto" style="align-items: flex-end; padding: 0px 5px">
      <div class="col-xs">
        <div class="form-check form-switch">
          <label class="form-check-label" for="bidToggle">I'm ready for Year {{phaseBar.year}}'s {{phaseBar.phaseLabel}}</label>
          <input class="form-check-input" type="checkbox" id="bidToggle" {{checkedStatus}}>
        </div>
      </div>
      <!-- Will always be active -->
      <div class="col-xs-1 px-0">
        <img src = "../img/phase/trade-active.svg" style="width:30px; height:30px">
      </div>
      <div class="col-xs-1 px-0">
        <img src = "../img/phase/phase-transition-active.svg" style="width:60.2px;">
      </div>
      <div class="col-xs-1 px-0">
        <div class="row">
          <span class="ready-city-active">{{phaseBar.readyCitiesPreBid}} / 5</span>
        </div>
        <div class="row"    style="justify-content: center;" >
          <img src = "../img/phase/check-active.svg" style="width:80%">
        </div>
        <!-- <div class="row">
          <img src = "../img/phase/check-active.svg" style="width:20px; height:20px">
          <span class="ready-city-active position-absolute translate-middle" style="padding-right: 15px; padding-bottom: 20px;">{{phaseBar.readyCitiesPreBid}} / 5</span>
        </div> -->
      </div>
      <!-- Will always be active -->
      <div class="col-xs px-0">
        <img src = "../img/phase/phase-transition-{{phaseBar.phaseIndication}}.svg" style="width:60.2px;">
      </div>
      <div class="col-xs px-0">
        <img src = "../img/phase/build-{{phaseBar.phaseIndication}}.svg" style="width:30px; height:30px">
      </div>
      <div class="col-xs px-0">
        <img src = "../img/phase/phase-transition-{{phaseBar.phaseIndication}}.svg" style="width:60.2px;">
      </div>
      <div class="col-xs px-0">
        <div class="row">
          <span class="ready-city-{{phaseBar.phaseIndication}}">{{phaseBar.readyCitiesPostBid}} / 5</span>
        </div>
        <div class="row"    style="justify-content: center;" >
          <img src = "../img/phase/check-{{phaseBar.phaseIndication}}.svg" style="width:80%">
        </div>
      </div>
      <div class="col-xs px-0">
        <img src = "../img/phase/end-phase-inactive.svg" style="width:65.22px; height:12px">
      </div>
      <div class="col-xs">
        <div class="container" style="padding-top: 25px">
          <div class="resLabel" style="display:flex; flex-direction: row;  height: 80px; overflow: auto;"> 
            <div style="flex-direction: column; width: 150px; height: 60px; margin: 5px; visibility: {{getLabelVis}}"> 
              <div style="display:flex; flex: 1; flex-direction: row;  height: 40px; overflow: clip;"> 
                  <div style="display:flex; overflow: clip; flex-direction: column; height:100%;"> 
                    <div style="flex:40%; font-size: 90%; font-weight: 400; overflow: clip; text-align: left;">
                      Expected Change
                    </div>
                    <div style="flex:50%; font-size: 100%; font-weight: 600;  text-align: left; overflow-x: clip; overflow-y: clip"> 
                      Current Amount
                    </div>
                  </div>
              </div>
              <div style="display:flex; flex-direction: row; height: 10px; justify-content: left; padding-left: 50%; padding-top: 4px">
                Name
              </div>
            </div>
          {{#each cr in cityResources}}
            <div style="flex-direction: column; width: 90px; height: 60px; margin: 0px"> 
              <div style="display:flex; flex: 1; flex-direction: row;  height: 40px; overflow: clip;"> 
                <div style="flex:50%; width: 50%; overflow: clip;">
                  <img src="{{cr.image}}" style="width:100%; padding: 4%">
                </div>
                <div style="flex:50%; width: 50%; overflow: clip; padding-left: 5px ">
                  <div style="display:flex; overflow: clip; flex-direction: column; height:100%;"> 
                    <div style="flex:40%; font-size: 80%; font-weight: 400; overflow: clip; text-align: left;">
                      {{cr.roundProduction}}
                    </div>
                    <div style="flex:50%; font-size: 130%; font-weight: 600; text-align: left; overflow-x: clip">
                      {{cr.amount}}
                    </div>
                  </div>
                </div>
              </div>
              <div style="display:flex; flex-direction: row; height: 10px; justify-content: left; padding-top: 4px; visibility: {{getLabelVis}}">
                {{cr.res}}
              </div>
            </div>
          {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class = "switch-button" style="margin-top: 3%;">
    <h3>I'm ready!</h3>
    <div class="checkbox-container">
      <input type="checkbox" id="bidToggle" {{checkedStatus}}/>
      <label for="bidToggle"></label>
      <div class="active-circle"></div>
    </div>
  </div> -->
  
  <div>
    {{#each tradeAlerts}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      
      {{this.from.group}} gave {{this.amount}} {{this.resource}} to {{this.to.group}} 
       <button id = "{{_id}}" type="button" class="btn-close readNotif" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/each}}
  </div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Trade History
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{#each tradeHistory}}
          <div class="alert alert-dark alert-dismissible fade show" role="alert">
            
            {{this.from.group}} gave {{this.amount}} {{this.resource}} to {{this.to.group}} 
            <br />
          </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>
{{> cityMap}}
</template>


<template name="cityMap">
  <div class="after-sticky">
    <div id = "cell-highlighter" style="background-color: rgba(0, 60, 255, 0.2); z-index: 2">
  </div>
  <div class="row">
    <div class="col">
      <p></p>
      <!--   <button type="button" class="btn btn-light disabled small"> Toggle Images </button> <small> Click on a cell you own to see information and place buildings</small> -->
      <p></p>
      <table id="smallMap">
        {{#each mapRows}}
        <tr>
            {{#each this}}
              <td class="emptyClass mapCell {{this.loc}}" id="cell-{{this.loc}}">
                {{#if imageMode}}
                  <img class="mapTileImage mapCell {{this.loc}}" src = "{{this.image}}" style="width:90px; height:90px; background-color:{{this.bgColor}}">
                {{else}}
                  {{this.text}}&emsp;
                {{/if}}
              </td>
            {{/each}}
        </tr>
        {{/each}}
      </table>
    </div>
    <div class="col" style="padding-left: 15px;">
      <div class="top-sidebar" style="padding-top: 2%; padding-bottom: 4%;">
          <p style="font-size: 2em; font-size: 30px; font-weight: 500px">Buildings</p>
      <div class="slider-building">
      
      {{#each build in boughtBuildings}}
      <div class="col-md-5 boughtBuilding" style="border-style: outset; margin-right: 4%;padding-bottom: 2%; text-align: center;">
          <h5>{{build.displayName}}<img class="" src = "{{build.image}}" style="width:80px; height:80px; display: block; margin-left: auto; margin-right: auto;"></h5> 
          <!--{{build.name}}-->
          <!-- <p>Produce</p>
          <p>Consume</p> -->
          <!-- {{build.infoText}} -->
          Uses: 
          {{#each p in build.prodCostArr}}
            {{p.amount}} <img style="width:30px; height:30px" src="{{p.image}}" title="{{p.res}}"/>
          {{/each}}
          <br />
          Produces: 
          {{#each p in build.prodValArr}}
            {{p.amount}} <img style="width:30px; height:30px" src="{{p.image}}" title="{{p.res}}"/>
          {{/each}}
          <br />
          {{build.bonusText}}
          {{#if buildingPlacable build}}

            <!-- <div class="placementButtons" style="position:absolute"> -->
            <button id="startPlace-{{build._id}}" class="btn btn-primary startPlace" style=" display: block; margin-top: 4%; margin-left: auto; margin-right: auto; padding-bottom: 4%;"> Place Building </button>
            <div id="confirmPlace-{{build._id}}" style="display: none">
              <button class="btn btn-success placeBuilding" id="{{build._id}}" style="display: block; margin-top: 4%; margin-left: auto;margin-right: auto; margin-bottom: 4%;"> Confirm Placement </button>
              <button id="cancelPlace-{{build._id}}" class="btn btn-warning cancelPlace" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 4%;"> Cancel Placement </button>
              <p>This is permanent. Are you sure?</p>
            </div>
          <!-- </div> -->
              <!-- <button class="btn btn-primary placeBuilding" id="{{build._id}}" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 4%;"> Place Building </button> -->
          {{/if}}
          <br />

          <!-- {{buildingPlacable build}} -->
      </div>
      {{/each}}
      <div class="col-md-5 boughtBuilding" style="border-style: outset; margin-right: 4%;padding-bottom: 2%; text-align: center;">
        <div style="height: 140px">

        </div>
  
      </div>
    </div>

    
  </div>
    <div class = "bottom-sidebar">
      <p style="font-size: 2em; font-size: 30px; font-weight: 500px">Information Panel</p>
      <div class = "info-panel" style="border: 1px solid grey; padding: 2%; text-align: center;">
          <div>
          <h3> {{currentBuilding.heading}} </h3>
          <h3>
            <img class="" src = "{{currentBuilding.image}}" style="width:80px; height:80px; display: block; margin-left: auto; margin-right: auto;"></h3> 
            {{#if currentBuilding.placedBuilding}}
              Uses: 
              {{#each p in currentBuilding.building.prodCostArr}}
                {{p.amount}} <img style="width:30px; height:30px" src="{{p.image}}" title="{{p.res}}"/>
              {{/each}}
              <br />
              Produces: 
              {{#each p in currentBuilding.building.prodValArr}}
                {{p.amount}} <img style="width:30px; height:30px" src="{{p.image}}" title="{{p.res}}"/>
              {{/each}}
              <br />
              {{currentBuilding.building.bonusText}}
            {{else}}
              {{#each currentBuilding.text}}
                {{this}} <br />
              {{/each}}
            {{/if}}
              
              
              <!--{{build.name}}-->
              <!-- <p>Produce</p>
              <p>Consume</p> -->
              <!-- {{build.infoText}} -->

              

              {{#if currentBuilding.buildingButtons}}
              <div style="text-align: center; margin-top: 4%;margin-bottom: 4%;">
                <!-- <button class="btn btn-light toggleBuilding" id="{{currentBuilding.mapCell.building._id}}"> {{currentBuilding.status}} <small>(Click to toggle) </small> </button> -->
                <div>Off
                <label class="switch toggleBuilding" id="{{currentBuilding.mapCell.building._id}}">
                  <input type="checkbox" {{currentBuilding.buttonStatus}}>
                  <span class="slider round"></span>
                </label>
                On
              </div>
                <button class="btn btn-danger startRemoval" id="startRemoval" data-bs-toggle="modal" data-bs-target="#buildingRemoveModal" data-backdrop="false"> Remove Building </button>
                <!-- <button class="btn btn-danger"  data-toggle="modal" data-target="#myModal" data-backdrop="false"> Remove Building </button> -->

                 <div id="buildingRemoveModal" tabindex="-1" class="modal fade" role="dialog"  aria-labelledby="deleteBuildingModal" aria-hidden="true">
                  <div class="modal-dialog">
            
                    <!-- Modal content-->
                    <div class="modal-content" >
                      <div class="modal-header">
                        <h5 class="modal-title" style="align-items: flex-start;">Warning</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>It will disappear permanently, are you sure about that?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary removeBuilding" data-bs-dismiss="modal" id="remove-{{currentBuilding.mapCell.building._id}}">Destroy It!</button>
                      </div>
                    </div>
            
                  </div>
                </div>

              </div>
              {{/if}}
              <!-- {{#else}} -->
          </div>
         

      </div>
      
      </div>
    </div>

  </div>
  </div>
</template>


<template name="cityFactory">
  <div class="after-sticky">
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <!-- <div class="cityFactoryInner"> -->
      <img class="factoryIcon" src="{{factoryIcon}}" style="width:100%;">
      <!-- {{> factory}} -->
      <br />

      <button type="button" class="btn btn-light toggleRunning" data-toggle="button" aria-pressed="false" autocomplete="off">
        {{runningStatus}}
      </button>        
      
    </div>

    <div class="col-md-6 col-xs-6">
      <div class="productionValues">
          <span class="productionLabel">Produces</span>
          {{{CostInfo this.prodValues ""}}} 
        </div>
        <br />
        <div class="consumptionValue">
          <span class="productionLabel">Consumes</span>
          {{{CostInfo this.prodCosts ""}}}
        </div>
    </div>
        
  </div>
  
  
  <div class="cityFactoryNotes">
    <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-html="true" title="Events over last round" data-content="<ul>{{#each roundNotes}} <li>{{this}} </li> {{/each}}">Factory Log</button>
  <!-- Factory log: {{#each roundNotes}}  {{this}} <br />   {{/each}} -->
  </div>
</div>
</template>
