<template name="cities">
  <table cellpadding="10" class="cityTable">
    <tr >
      {{#each citySet}}
        <!-- <td class="cityRow"> -->
          {{> city}}
        <!-- </td> -->
      {{/each}}
    </tr>
  </table>
</template>

<template name="city">
  <!-- {{}} -->
  <div id="cityBox">
    <!-- <p class="cityName">{{name}} </p> -->
    <!-- <h3>Your City's Production</h3> -->

   <!--  <div class="container pull-right">
      <h4> Resources </h4>
      <img class="cityIcon" src="../img/icons/gold_sml.png"> {{res.m1}} {{roundProduction.m1}}
      <img class="cityIcon" src="../img/icons/steel_sml.png"> {{res.m2}} {{roundProduction.m2}}
      <img class="cityIcon" src="../img/icons/food_sml.png"> {{res.f1}} {{roundProduction.f1}}
      <img class="cityIcon" src="../img/icons/cotton_sml.png"> {{res.f2}} {{roundProduction.f1}}
      <h4> Metrics </h4>
      <img class="cityIcon" src="../img/icons/pollution_med.png"> {{pollution}} {{roundProduction.pollution}}
      <img class="cityIcon" src="../img/icons/population_med.png"> {{population}} {{roundProduction.population}}
      <img class="cityIcon" src="../img/icons/happiness_med.png"> {{happiness}} {{roundProduction.happiness}}
    </div> -->


    <div class="container">
      <div class="row">
        
        <div class="col-md-2">
          <h2> Resources </h2>
        </div>
        <div class="col-sm-3 col-md-1 col-xs-4">
          <h1><img class="cityIcon" src="../img/icons/gold_sml.png"> {{res.m1}} </h1> <h3>{{roundProduction.m1}}</h3>
        </div>
        <div class="col-sm-3 col-md-1 col-xs-4">
          <h1><img class="cityIcon" src="../img/icons/steel_sml.png"> {{res.m2}} 
          </h1> 
          <h3>{{roundProduction.m2}}</h3>
        </div>
        <div class="col-sm-3 col-md-1 col-xs-4">
          <h1><img class="cityIcon" src="../img/icons/food_sml.png"> {{res.f1}}
          </h1>
          <h3>{{roundProduction.f1}}</h3>
        </div>
        <div class="col-sm-3 col-md-1 col-xs-4">
          <h1><img class="cityIcon" src="../img/icons/cotton_sml.png"> {{res.f2}}
          </h1>
          <h3>{{roundProduction.f1}}</h3>
        </div>
        <div class="col-md-2">
          <h2> Metrics </h2>
        </div>
        <div class="col-sm-4 col-md-1 col-xs-4">
          <h1><img class="cityIcon" src="../img/icons/pollution_med.png"> {{pollution}}
          </h1>
          <h3>{{roundProduction.pollution}}</h3>
        </div>
        <div class="col-sm-4 col-md-1 col-xs-4">
          <h1><img class="cityIcon" src="../img/icons/population_med.png"> {{population}}
          </h1>
          <h3>{{roundProduction.population}}</h3>
        </div>
        <div class="col-sm-4 col-md-1 col-xs-4">
          <h1><img class="cityIcon" src="../img/icons/happiness_med.png"> {{happiness}}
          </h1>
          <h3>{{roundProduction.happiness}}</h3>
        </div>
      </div>
    </div>
     <!-- <p> -->
        
        <h5>
          Resource changes are estimates and don't always work out! <br />
          Population increases when people have enough food <br />
          Happiness increases when people have enough parks to visit
        </h5>

        <button type="button" style="max-width:400pt" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="right" data-html="true" title="Events over last round" data-content="<ul>{{#each roundNotes}} <li>{{this}} </li> {{/each}}">Notes from Last Run</button>

        <!-- <p>Notes from last run: {{#each roundNotes}}  <p> {{this}}  </p>  -->


      <!-- </p> -->
 
<!--     <section id="factoryBox">
      
      <table cellpadding="10" class="productionBox">
        <tr> --> 
          <!-- {{#each cityFactories}} -->
            <!-- <td style="{{producerColor}}" class="cityFactoryInfo"> -->
              <!-- {{> cityFactory}} -->
            <!-- </td> -->
          <!-- {{/each}} -->
        <!-- </tr> -->
        <!-- <tr>Notes from last run: {{#each roundNotes}}  {{this}} <br />   {{/each}}</tr> -->
      <!-- </table> -->
    <!-- </section> -->

    <div class="row" style = "padding: 6pt;">
      {{#each cityFactories}}
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div style="border: solid black 1pt; padding: 2pt; margin:2pt; {{producerColor}}">
            {{> cityFactory}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>

    
  {{> cityMap}}
</template>


<template name="cityMap">
  <div class="row" style = "padding: 6pt;">
    {{#each build in boughtBuildings}}
      <div class="container boughtBuilding" style="border: solid black 1pt; padding: 2pt; margin:2pt;">
        {{build.name}}
        {{#if buildingPlacable build}}
          <button class="btn btn-primary placeBuilding" id="{{build._id}}"> Place Building </button>
        {{/if}}
        <!-- {{buildingPlacable build}} -->
    </div>
    {{/each}}
  </div>

  <table id="smallMap">
    {{#each mapRows}}
    <tr>
        {{#each this}}
        <td class="mapCell {{this.loc}}" id="{{this.loc}}">
            <img class = "mapCell {{this.loc}}" id = "mapTileimg" src = "../img/map/mapTile.png" style="width:60px; height:60px;">
            <!--{{this.text}}&emsp;-->
        </td>
        {{/each}}
    </tr>
    {{/each}}
  </table>

  <div class="container" style="border: solid black 1pt; padding: 2pt; margin:2pt;">

  {{currentBuilding.text}}
  {{#if currentBuilding.buildingButtons}}
    <button class="btn btn-default toggleBuilding" id="{{currentBuilding.mapCell.building._id}}"> Toggle - {{currentBuilding.status}} </button>
    <button class="btn btn-danger removeBuilding"  id="remove-{{currentBuilding.mapCell.building._id}}"> Remove Building </button>
  {{/if}}
  <!-- {{#else}} -->
  </div>

</template>


<template name="cityFactory">
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <!-- <div class="cityFactoryInner"> -->
      <img class="factoryIcon" src="{{factoryIcon}}" style="width:100%;">
      <!-- {{> factory}} -->
      <br />

      <button type="button" class="btn btn-default toggleRunning" data-toggle="button" aria-pressed="false" autocomplete="off">
        {{runningStatus}}
      </button>        
      
    </div>

    <div class="col-md-6 col-xs-6">
      <div class="productionValues">
          <span class="productionLabel">Produces</span>
          {{{CostInfo this.prodValues ""}}} 
        </div>
        <br />
        <div class="consumptionValue">
          <span class="productionLabel">Consumes</span>
          {{{CostInfo this.prodCosts ""}}}
        </div>
    </div>
        
  </div>
  
  
  <div class="cityFactoryNotes">
    <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-html="true" title="Events over last round" data-content="<ul>{{#each roundNotes}} <li>{{this}} </li> {{/each}}">Factory Log</button>
  <!-- Factory log: {{#each roundNotes}}  {{this}} <br />   {{/each}} -->
  </div>
</template>