<template name="makeGame">
  <form class = "hostGame form form-inline" role = "form">
    <div class="form-group">
      <label for="groupSizeTextBox" class="control-label">Cities:</label>
          <input type="number" placeholder="4" name="groups" class = "form-control" id = "groupSizeTextBox"/>
    <input type="submit" value = "Host new game" class = "btn btn-default" /> 
    <sub>(Please enter less than 8 and >=2 if you don't want all the things to break)</sub>
    </div>
  </form>

  {{> gameList }}

  <div class="panel panel-default">
    <div class="panel-heading">Paused Games</div>
    <ul class="list-group">

      {{#each pausedGames}}
        <a href="/games/{{gameCode}}">
          <li class="list-group-item">
            {{gameCode}}  {{gameSize}}
          </li>
        </a>
      {{/each}}
    </ul>
  </div>

  
</template>

<!-- TODO: try to pass game as argument to reduce template querying -->
<template name="adminGame">
  <table>
    {{#each allPlayers}}
    <tr>
      <td> {{this}} </td>
      <td>
        <form class="changeStat form-inline">
          <div class="form-group">
            <input class = "form-control" type="number" name="amount" placeholder="value" />
          </div>
          <div class="form-group">
            <select class = "custom-select form-control" id="resource" name={{this}}>
              {{#each gameResource}}
                <option value = {{this}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <input class="form-control" type="submit" value="submit"/>
          </div>
        </form>
      </td>
    </tr>
    {{/each}}
  </table>
<!--   <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="runBids btn {{gamePhaseClass.bids}}">Run Bids</button>
    <button type="button" class="runBuilds btn {{gamePhaseClass.builds}}">Run Buildings & End Round</button>
 </div>
  
  <p> </p>
  
  <form class="addFacts form-inline">
    <div class="form-group">
      <input class = "form-control" type="number" name="amount" placeholder="Number of Factories" />
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" value="Add Factories"/>
    </div>
  </form>

  <form class="newCustomRound form-inline">
    <div class="form-group">
      <input class = "form-control" type="number" name="amount" placeholder="Number of Factories" />
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" value="Next Round"/>
    </div>
  </form>
 -->
  <p> </p>
<!--   <p>    <button class="runBids btn btn-default">Run Bids</button>  </p>
  <p>    <button class="runBuilds btn btn-default">Run Builds & End Round</button>  </p>
  <p>    <button class="newRound btn btn-default">Next Round</button>  </p> -->
  <div class="btn-group" role="group" aria-label="Basic example">
    <!-- <button type="button" class="asyncTest btn btn-default">Async Test</button>
    <button type="button" class="reset btn btn-default"> Reset everything </button> -->
    <button type="button" class="resetRes btn btn-default"> Reset Map Resources </button>

    <button type="button" class="resetMap btn btn-default"> Reset Map </button>
    <button type="button" class="resetTeamResources btn btn-default"> Reset Team Resources </button>
    <button type="button" class="makeMap btn btn-default"> Make Map </button>
  </div>
  <!-- <p> </p> -->
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="addAuction btn btn-default"> Add Auction Build </button>
    <button type="button" class="runBuildings btn btn-default"> Run Builds </button>
    <button type="button" class="removeBuildings btn btn-default"> Remove Builds </button>
    <button type="button" class="btn btn-primary seeScore">See scoreboard</button> 

  </div>

  <p> </p>
    <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="runBids btn {{gamePhaseClass.bids}}">Run Bids</button>
    <button type="button" class="runBuilds btn {{gamePhaseClass.builds}}">Run Buildings & End Round</button>
 </div>
  
  <p> </p>
  
  <form class="addFacts form-inline">
    <div class="form-group">
      <input class = "form-control" type="number" name="amount" placeholder="Number of Factories" />
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" value="Add Factories"/>
    </div>
  </form>

  <form class="newCustomRound form-inline">
    <div class="form-group">
      <input class = "form-control" type="number" name="amount" placeholder="Number of Factories" />
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" value="Next Round"/>
    </div>
  </form>

  <p>
    Status: {{status}}
    <button class="btn btn-default toggleGameState">Toggle</button>
  </p>
  <!--  Change people's teams-->
  <p>
  <form class="changeTeam form-inline">
    <div class="form-group">
      <select class = "custom-select form-control" id="player" name="player">
        {{#each gamePlayers}}
          <option value = {{playerName}}>{{playerName}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <select class = "custom-select form-control" id="team" name="team">
        {{#each gameTeams}}
          <option value = {{playerName}}>{{playerName}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <input class="form-control" type="submit" value="Change Team"/>
    </div>
  </form>
  </p>
  <!--  Make a new player a base -->
  <p>
  <form class="makeBase form-inline">
    <div class="form-group">
      <input class = "form-control" type="text" name="playerName" placeholder="player" />
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" value="Make Base"/>
    </div>
  </form>
  </p>
  <!--  Set neighbors for a base -->
  <p>
  <form class="setNeighbors form-inline">
    <div class="form-group">
      <input class = "form-control" type="text" name="cityName" placeholder="city name" />
    </div>
    <div class="form-group">
      <input class = "form-control" type="text" name="neighborName" placeholder="neighbor name" />
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" value="Add Neighbor"/>
    </div>
  </form>
  </p>
  <!-- Add Building -->
  <p>
  <form class="addBuilding form-inline">
    <!-- <div class="form-group">
      <input class = "form-control" type="text" name="bidKind" placeholder="Bid Kind" />
    </div> -->
    <div class="form-group">
      <select class = "custom-select form-control" id="bidKind" name="bidKind">
        {{#each bidKinds}}
          <option value = {{this}}>{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <input class = "form-control" type="number" name="x" placeholder="x-loc" />
    </div>
    <div class="form-group">
      <input class = "form-control" type="number" name="y" placeholder="y-loc" />
    </div>
    <div class="form-group">
      <select class = "custom-select form-control" id="buildingName" name="buildingName">
        {{#each buildingNames}}
          <option value = {{this}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <select class = "custom-select form-control" id="groupName" name="groupName">
        {{#each gameTeams}}
          <option value = {{playerName}}>{{playerName}}</option>
        {{/each}}
          <option value = {{playerName}}>auctions</option>
      </select>
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" value="Add Building"/>
    </div>
  </form>
  </p>
  <!-- remove specific buildings -->
  <p>
  <form class="removeBuilding form-inline">
    <div class="form-group">
      <select class = "custom-select form-control" id="presentBuilding" name="presentBuilding">
        {{#each pb in presentBuildings}}
          <option value = {{pb._id}}>{{pb.location}} {{pb.owner}} {{pb.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <input class="form-control" type="submit" value="Remove Building"/>
    </div>
  </form>
  </p>

  {{> gameMap}}
</template>

<template name="gameMap">
  
  <button type="button" class="toggleImages btn btn-default"> Toggle Images </button>
  <p></p>
  <div gameMapchart-table>
  <table id = "gameMapTable">
    {{#each mapRows}}
    <tr>
      <!-- <pre> -->
        {{#each this}}
        <td class="emptyClass mapCell {{this.loc}}" id="{{this.loc}}">
          {{#if imageMode}}
            <img class="mapTileImage mapCell {{this.loc}}" src = "{{this.image}}" style="width:60px; height:60px; background-color:{{this.bgColor}}">
          {{else}}
            {{this.text}}&emsp;
          {{/if}}
        </td>
        {{/each}}
        <!-- {{this.rowCol}}&emsp;
        {{rowCol}} &emsp; -->
      <!-- </pre> -->
      <!-- <br /> -->
    </tr>
    {{/each}}
  </table>
  <div class="status-chart">
  {{#if imageMode}}

    {{#each cityStats}}
      <div class="{{this.className}} cityStatBox">
        <p>Pop:{{this.population}}</p>
        <p>Happ: {{this.happiness}}</p>
        <p>Poll: {{this.pollution}}</p>
      </div>
    {{/each}}

    {{#each resStats}}
      <div class="{{this.className}} resStatBox">
        {{#each s in this.statList}}
          <p>{{s.name}}: {{s.amount}}</p>
        {{/each}}
        <!-- <p>Happ: {{this.happiness}}</p>
        <p>Poll: {{this.pollution}}</p> -->
      </div>
    {{/each}}
    
    <!-- <div class="clay-left-status">
      <p>Clay: </p>
    </div>
    <div class="clay-right-status">
      <p>Clay</p>
    </div>
    <div class="woods1-status">
      <p>Woods:</p>
      <p>Animals:</p>
    </div>
    <div class="woods2-status">
      <p>Woods:</p>
      <p>Animals:</p>
    </div> -->
    {{/if}}
  </div>
</div>
</template>

<!-- <template name="adminGames">
  <div class="panel panel-default">
    <div class="panel-heading">Play Games</div>
    <ul class="list-group">

      {{#each gameList}}
        <a href="/games/{{gameCode}}">
          <li class="list-group-item">
            {{gameCode}}
          </li>
        </a>
      {{/each}}
    </ul>
  </div>
</template>
 -->
