<template name="cityStates">

  <table id="gameScoreboard" class="table">
    <thead>
      <tr>
        <th> City </th>
        <th> Gold </th>
        <th> Steel </th>
        <th> Food </th>
        <th> Cotton </th>
        <th> Pollution </th>
        <th> Population </th>
        <th> Happiness </th>
        <th> Neighbors </th>
      </tr>
    </thead>
    <tbody>
  	{{#each cities}}  
	    <!-- <tr class="scoreboardRow"> -->
        <tr>
	    	<!-- <td class="teamName">{{playerName}}</td> -->
        <td >{{playerName}}</td>
	    	<td><img class="cityIcon" src="../../img/icons/gold_sml.png"> {{res.m1}}</td>
	    	<td><img class="cityIcon" src="../../img/icons/steel_sml.png">  {{res.m2}}</td>
	   		<td><img class="cityIcon" src="../../img/icons/food_sml.png"> {{res.f1}}  </td>
	    	<td><img class="cityIcon" src="../../img/icons/cotton_sml.png"> {{res.f2}} </td>
	  		<td><img class="cityIcon" src="../../img/icons/pollution_sml.png"> {{pollution}}</td> 
			<td><img class="cityIcon" src="../../img/icons/population_sml.png"> {{population}} </td>
			<td><img class="cityIcon" src="../../img/icons/happiness_sml.png"> {{happiness}}</td>
      <td> {{#each neighbors}} {{this}}, {{/each}} </td>
		</tr>
	  	{{/each}}
    </tbody>
	</table>

  <div id="d3-container"></div>
  {{#each logs}}
    <strong> {{this.from.group}} </strong> traded with <strong> {{this.to.group}} </strong> &nbsp; &nbsp; &nbsp; &nbsp;
   {{/each}}

</template>


