<template name="factoryList">
    <!-- <div class="row">
      <div class="col-md-12" style="text-align: center; font-size:18px; "> Marketplace </div>
    </div> -->
    <h4> Marketplace </h4>

      <div class="row" style="text-align: center;">
        {{CityBids}}
        {{#each build in PublicBuildings}}
          <div class="col-md-4 buildingbid {{build.classes}}">
            <!-- {{buildingText build}} -->
            <h3><img class="" src = "{{build.image}}" style="width:80px; height:80px; display: block; margin-left: auto; margin-right: auto;"></h3> 
              <h4>{{build.name}}</h4>
              <br />
              {{build.infoText}}
              <br />
            <!-- {{build.name}}  <br /> -->
            <br />
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default changeBid {{build._id}} {{build.bidKind}} {{bidValue build._id}} {{build.phase}} {{build.buttonClasses}}" name="-1">   -1   </button>
              <button type="button" class="btn btn-default changeBid {{build._id}} {{build.bidKind}} {{bidValue build._id}} {{build.buttonClasses}}" name="+1">   +1   </button>
              <button type="button" class="btn {{bidClass build._id}} {{build.buttonClasses}}" name="buildValue">   {{bidValue build._id}}  {{build.bidKind}} </button>
            </div>
          </div>
        {{/each}}
      </div>


    <!-- {{#each bidKinds}}
      <div class="row vcenter container-fluid">
        <div class="col-md-2 "><img src="{{ResourceIcon this}}" /></div>
        <div class="col-md-10">

          {{#each PublicFactories this}}
            <div class="col-md-3 col-xs-6"  style="padding: 3pt">
              <div class="factoryInfo" style="border: solid black 2pt; margin:2pt; padding: 3pt; background: {{factoryBidColor}}" >
                <img class="factoryIcon" src="{{factoryIcon}}" style="max-width: 45%;">
                {{> factory}}
              </div>
            </div>
          {{/each}}
        </div>
      </div> 
    {{/each}} -->
    
    
   
  </template>



<template name="factory">
  <!-- <div class="row"> -->
    <!-- <div class="col-md-5"> -->
      <!-- <div id="productionValues">
        <span class="productionLabel">Produces</span>
        {{{CostInfo this.prodValues ""}}}  -->
      <!-- </div> -->
      <br />
      <!-- <div id="consumptionValue"> -->
        <!-- <span class="productionLabel">Consumes</span>
      {{{CostInfo this.prodCosts ""}}}
      </div> -->
  <!-- </div> -->

    <div style="padding-top: 8pt" class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default bid" name="-1">
          <!-- <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span> -->
          -1
        </button>
      </div>
       <div class="btn-group" role="group">
        <button type="button" class="btn btn-default bid" name="+1">
          <!-- <span class="glyphicon glyphicon-chevron-up" aria-hidden="false"></span> -->
          +1
        </button>
      </div>

      <div class="btn-group" role="group">
        <button type="button" class="btn {{FactoryBid.class}}" data-container="body" data-toggle="popover" data-placement="top" title="Bids for this Building" data-content="{{FactoryBid.popoverText}}">{{FactoryBid.text}}</button>
      </div>
     
    </div>

    <!-- <div class="biddingArea" style="text-align: center; font-weight: bold;">
      <button type="button" class="btn btn-outline-primary bid" name="-1" style="
    margin-right: 6px;"> -1 </button>  Bid:  {{FactoryBid}} <button type="button" class="btn btn-outline-primary bid" name="+1" style="
    margin-left: 6px;"> +1</button>
    </div> -->
</template>
