/*p {
	font-family: "Nunito"
}*/

.pull-right {
  float: right !important;
}

.cityIcon {
    height: 40px;
    width: auto;
    max-width: 90%;
    margin: 2px;
}
.cityName {
	font-size: 2em;
	color: #c163ff;
	font-weight: bold;
	text-align:center;
}
#cityBox {
	border: solid black;
	border-radius: 0pt;
	background: white;
}

#cityBox h3 {
	margin-top: 10px;
}

.cityRow {
	width: 100%;
}

.resourceLabel{
	font-weight: bold;
	font-size: 1em;
}

#resourceBox {
	width: 100%;
	overflow: hidden;
    font-size: 35px;

}

#metalResourceBox {
	width: 100%;
	overflow: hidden;
}

#foodResourceBox {
	width: 100%;
	overflow: hidden;
}

#scoresBox {
	margin-top: 15px;
	font-weight: bold;
	font-size: 35px;
	overflow: hidden;
}

.scoreBoxStyle {
  margin-top: 15px;
  font-weight: bold;
  font-size: 35px;
  overflow: hidden;
}

#factoryBox {
	margin-top: 15px;
}
.productionBox {
	width: 100%;
}

#m1Items {
	width: 49%;
	/*border: solid red;*/
	float: left;
	min-height: 55px;
	font-weight: bold;
}

#m2Items {
	width: 49%;
	/*border: solid red;*/
	float:left;
	min-height: 55px;
	font-weight: bold;
}

#f1Items {
	width: 49%;
	/*border: solid red;*/
	float:left;
	min-height: 55px;
	font-weight: bold;
}

#f2Items {
	width: 49%;
	/*border: solid red;*/
	float:left;
	min-height: 55px;
	font-weight: bold;
}

.factoryIcon {
	/*max-width: 50pt;*/
  padding: 5pt;
}

.resourceIcon {
	max-width: 20pt;
    margin: 2pt;
}

.productionValues {
	float: right;
	/*width: 65%;*/
	text-align: right;
	/*padding-right: 5px;
    margin-bottom: 5px;*/
}
/*
.bidWon {
	background: #CAFFB9;
}

.bidLost {
	background: #ff6666;
}
*/

/*.productionLabel {
	font-size: 18px;
	font-weight: bold;
}*/


table {
	border-spacing: 10px;
}

/*td {
  width: 35%;
  font-weight: bold;
  float: left;
  margin: 5px;
  border-top: none !important;
}*/

button {
    font-weight: normal;
}

/*.cityMetric {
	float:left;
    margin-right: 15px;
}*/

#marketHeader {
	margin-top: 10px;
 	text-align: center;
}

body {
	margin: 10px !important;
}

.marketType {
	padding-left: 40px;
	width: 200px;
	padding-top: 25px;
}

/*.cityFactoryNotes {
	width: 100%;
}
*/
.cityFactoryInfo {
	/*width: 32%;*/
	padding: 3pt;
}

.cityFactoryInfo #productionValues {
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 5pt;
    /*margin-bottom: 5px;*/
}

.consumptionValue {
  float: right;
  width: 100%;
  text-align: right;
  padding-right: 5pt;
    /*margin-bottom: 10px;*/

}


/*.cityFactoryInfo .factoryIcon {
    max-width: 32%;
}*/

.scoreboardRow {
    display: flex;
    align-items: center;
    font-size: 18px;
    border-bottom: solid black 1px;
}

.teamName {
	width: 100px;
}

/*.row {
	margin-top: 4pt;
  margin-bottom: 4pt;
  border: solid;
} */

.vcenter {
    display: flex;
    align-items: center;
}

.left-city{
	border: solid black 1pt;
	float: left;
	width: 60%;
	height: 500px;
}
.right-city{
	border: solid black 1pt;
	float: right;
	width: 40%;
}
.slider-building{
	display: flex;
	overflow-x: auto;
}
.boughtBuilding{
	flex-shrink: 0;
}
.placeBonus {
	background: rgba(0, 200, 10, 0.8)
}

.gameMapchart-table{
	position: relative;
}
.status-chart{
	position: absolute;
	top: 8px;
}

.cityStatBox{
	border-radius: 2px;
	padding-top: 120px;
  z-index: 2;
}

.cityStatImage{
  width: 20px; height: 20px;
}

.inline-style{
	display: table-cell;
	padding-right: 12px;
}
.resStatBox{
	min-height: 50px;
	min-width: 100px;
	padding: 0.3em;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
  z-index: 5
}

.mapinfo {
	font-family: 'Solway';
	font-size: 15px;
}


.mine1-status{
	position: absolute;
	top: 925px;
	left: 200px;
	/*background-color:white;*/
}
.mine2-status{
	position: absolute;
	top: 1230px;
	left: 860px;
	/*background-color:white;*/
}
.lake-status{
	position: absolute;
	top: 1100px;
	left: 325px;
	/*background-color:white;*/
}
.woods1-status{
	position: absolute;
	top: 1100px;
	left: 60px;
	/*background-color:white;*/
}
.woods2-status{
	position: absolute;
	top: 700px;
	left: 830px;
	/*background-color:white;*/
}
/*
@media (max-width:1200px){
	.fixed{
		position:fixed;
		top:0;	
		z-index: 30;
		width:98.35%;
	}
}
@media (min-width:1300px){
	.fixed{
		position:sticky;
		top:0;	
		z-index: 30;
		width:98.6%;
	}
}


.fixed + .after-sticky{
	padding-top: 90.719px;
}
*/

.nine-cols, .col-md-1, .col-sm-1{
		width: 11.111111111111%;
		*width: 11.111111111111%;
		text-align: center;
}

.modal, .modal-backdrop {
	/*position: relative;*/
	z-index: 5;
}

.modal-dialog {
	/*width: 80%;*/
}

.modal-content{
/*	width: 50%;
	height: 80%;
	left: 50%;
	top: 50%;*/
	transform: translate(0, 90%)
}
.info-panel{
	position: relative;
	width: 50%;
}

.font-style{
  display: block;
  font-size:18px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  overflow-wrap: break-word;
}
.buildingbid{
	border: 1px solid;
	border-style: outset;
	margin-top: 15px;
	/*padding:15px;*/
}



/*
SLIDER Business from w3schools
*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.col-md-3{
	width: 20%;
	*width: 20%;
	text-align: center;
}

.center-title{
	text-align: center;
}

.switch-button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	text-align: center;
	width: 280px;
	height: 170px;
	margin: auto;
}

.switch-button h3 {
	color: #111;
	margin: 0 0 25px;
	position: relative;
	z-index: 2;
}

.checkbox-container {
	display: inline-block;
	position: relative;
}

.checkbox-container label {
	background-color: #aaa;
	border: 1px solid #fff;
	border-radius: 20px;
	display: inline-block;
	position: relative;
	transition: all 0.3s ease-out;
	width: 45px;
	height: 25px;
	z-index: 2;
}

.checkbox-container label::after {
	content: ' ';
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 1.5px;
	left: 1px;
	transform: translateX(0);
	transition: transform 0.3s linear;
	width: 20px;
	height: 20px;
	z-index: 3;
}

.checkbox-container input {
	visibility: hidden;
	position: absolute;
	z-index: 2;
}

.checkbox-container input:checked + label + .active-circle {
	transform: translate(-50%, -50%) scale(15);
}

.checkbox-container input:checked + label::after {
	transform: translateX(calc(100% + 0.5px));
}

.active-circle {
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(calc(-50% - 10px), calc(-50% - 2px)) scale(0);
	transition: transform 0.4s ease-out;
	width: 30px;
	height: 30px;
	z-index: 1;
}

.checkbox-container .active-circle,
.checkbox-container input:checked + label {
	background-color: #47B881;
}
.equal-height{
	height:380px;
}

.overlay-img{
	display: grid;
}

.bid-alert, .usage, .bysbtext-red, .red-border{
	grid-area:1/1/1/1;
}
.bid-alert, .usage, .bysbtext-green, .green-border{
	grid-area:1/1/1/1;
}
.tie-alert, .usage, .bysbtext-yellow, .yellow-border{
	grid-area:1/1/1/1;
}
.tie-alert{
	text-align: left;
	position: relative;
}
.red-border{
	border: solid #d05c5b 3px;
	background: rgba(255, 255, 255, 0.8);
}
.green-border{
	border: solid green 3px;
	background: rgba(255, 255, 255, 0.8);
}
.yellow-border{
	border: solid orange 3px;
	background: rgba(255, 255, 255, 0.8);
}
.equal-height{
	position: relative;
}

.cover-the-market{
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	width: 200px;
	height: 395px;
}

.usage{
	padding-top: 10%;
}
.bysbtext-red, .bysbtext-green, .bysbtext-yellow{
	padding-top:10%;
	padding-left: 42%;
	font-weight: bold;
}
.bysbtext-green{
	color: green;
}
.bysbtext-red{
	color: #d05c5b;
}
.bysbtext-yellow{
	color: orange;
}
.bid-alert{
	text-align: left;
	position: relative;
}

.tooltip {
	position: relative;
	display: inline-block;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }
  .tooltip{
	  opacity:1 !important;
  }

  .float-alert{
	color: blue;
  }
/*
  .fixed-top-bar{
	  display:grid;
  }

  .row, .float-alert{
	  grid-area: 1/1;
  }

  .float-alert{
	  background-color: rgba(0,0,0,0.2);
	  width: max-content;
  }
*/
.alert{
	margin-bottom: 0 !important;
	margin-top: 10px;
}
.closebtn{
	float: right;
	margin-left: 15px;
	color: white;
}
.closebtn:hover {
	color: black;
  }
